/* Đặt lại các thuộc tính mặc định */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
}

/* Bong bóng chat */
#chat-button {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: #000000;
  color: white;
  font-size: 24px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  animation: slideUp 0.3s ease;
  z-index: 1001;
}

#chat-button:hover {
  background-color: #005fcc;
  transform: scale(1.05);
}

/* Cho nó không bị trùng với #chat-popup display:flex */
#chat-popup.hidden, #chat-button.hidden{
  display: none;
}

/* Hộp chat bật lên */
#chat-popup {
  position: fixed;
  bottom: 65px;
  right: 20px;
  width: 320px;
  height: 420px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  animation: slideUp 0.3s ease;
  z-index: 1001;
}

/* Ẩn/hiện */
.hidden {
  display: none;
}

.chat-header {
  background-color: #000000;
  color: #fff;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}

.chat-header button {
  background: transparent;
  border: none;
  color: white;
  font-size: 22px;
  cursor: pointer;
}

/* Nội dung chat */
.chat-body {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  background: #3b4252;
}

.bot-message, .user-message {
  max-width: 80%;
  margin-bottom: 10px;
  padding: 8px 12px;
  border-radius: 10px;
  line-height: 1.4;
}

.bot-message {
  background: #0d1b41;
  color: white;
  align-self: flex-start;
}

.user-message {
  background: #e4e8ef;
  color: black;
  align-self: flex-end;
  margin-left: auto;
}

/* Input của tin nhắn */
.chat-input {
  display: flex;
  border-top: 1px solid #ddd;
  padding: 8px;
  background: #fff;
}

.chat-input input {
  flex: 1;
  border: none;
  padding: 8px;
  outline: none;
  font-size: 14px;
}

.chat-input button {
  background-color: #0078ff;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 6px;
  transition: background 0.2s;
}

.chat-input button:hover {
  background-color: #005fcc;
}

/* Hiệu ứng bật chat */
@keyframes slideUp {
  from { transform: translateY(20px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

/* thanh cuon */
#chat-body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #000000;
}

#chat-body::-webkit-scrollbar {
    width: 12px;
    background-color: #000000;
}

#chat-body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #6e6e6e;
}
